* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(bg-intro-mobile.png);
    background-color: rgb(223, 80, 80);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

h2 {
    text-align: center;
    font-size: 23px;
    margin-top: 70px;
    margin-bottom: 25px;
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    
}

#p2 {
    text-align: center;
    color:whitesmoke;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

#p3 {
    display: inline-block;
    color: white;
    background-color: rgb(83, 83, 228);
    text-align: center;
    margin-left:30px;
    width: 300px;
    border-radius: 10px;
    /* margin-bottom: 5px; */
    box-shadow: 0px 5px rgb(102, 99, 99);
    height: 60px;
    padding: 10px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

@font-face {
    font-family: poppins-bold;
    src: url(Poppins/Poppins-bold.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(Poppins/Poppins-Regular.ttf);
}
.text {
    margin: auto;
}

.form-pane {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
    width: 300px;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0px 5px rgb(102, 99, 99) ;
}

.parent .form-pane input {
    width: 250px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 2px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.input-1 {
    margin-top: 10px;
}

.input-2 {
    background-color: rgb(85, 192, 85);
    width: 250px;
    height: 35px;
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

#bold1 {
    color: red;
}

#p1 {
    color: gray;
}

input[type=email]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

input[type=text]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

input[type=password]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

   @media only screen and (min-width: 1000px) {
   body {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 150px;
   }

   .text {
    margin: 0px;
    
   }

   h2 {
    text-align: left;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 25px;
    color:whitesmoke;
    font-family: poppins-bold;
    }  

    #p2 {
    text-align: left;
    color:whitesmoke;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    }

    .form-pane {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:20px;
        height: 60vh;
        border-radius: 10px;
        box-shadow: 0px 5px rgb(102, 99, 99) ;
        width: 450px;
    }

    #p3 {
        display: inline-block;
        color: white;
        background-color: rgb(83, 83, 228);
        text-align: center;
        margin-left:20px;
        width: 450px;
        border-radius: 10px;
        /* margin-bottom: 5px; */
        box-shadow: 0px 5px rgb(102, 99, 99);
        height: 50px;
        padding: 10px;
        padding-top: 15px;
        line-height: 22px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }

    #p3 br {
        content: "";
    }

    #p3 br:after {
        content: " ";
    }

    .parent .form-pane input {
        width: 380px;
        height: 48px;
        margin-bottom: 15px;
        margin-left: 2px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        border: 0.5px solid gray;
    }

    .input-2 {
        background-color: rgb(85, 192, 85);
        width: 380px;
        height: 48px;
        color: white;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        border: 1px solid gray;
        
    }

    #p1 {
        font-size: 12px;
        margin-top: 10px;
    }

    #p1 br {
        content: "";
    }

    #p1 br:after {
        content: " ";
    }
} 
    
