* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg-intro-desktop.png);
    background-color: rgb(167, 51, 51);
}

.parent{
   position:absolute;
   right: 200px;
   top: 200px;
   background-color: white;
   width: 400px;
   padding: 40px;
   height: 340px;
   border-radius: 5px;
   
  
}

main {
    margin-top: -40px;
}

.label-class {
    position:absolute;
    right: 200px;
    background-color: rgb(48, 48, 121);
    width: 400px;
    margin-top: 150px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    color: white;
   
}

.input {
    height: 40px;
    width: 330px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    border-color: white;
    margin-left: -10px;

}

 button {
    height: 35px;
    width: 340px;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(25, 194, 25);
    color: white;
    text-align: center;
    padding-bottom: 20px;

}
 
#p1 {
    font-size: 9px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}  

#bold1 {
    color: red;
    
}


.text {
    position: absolute;
    left: 200px;
    text-align:left;
    color: whitesmoke;
    margin-top: 270px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

#p2 {
    margin-top: 20px;
}

input[type=email]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

input[type=text]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

input[type=password]:required:invalid:focus-visible{
    background-image: url(icon-error.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: var(--primary-Red) 1px solid;
}

@media screen and (max-width:375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url(bg-intro-desktop.png);
        background-color: rgb(167, 51, 51);
        
    }

    .text {
        margin-top: 50px;
        text-align:center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        position: relative;
        top: 20px;
        left: -1px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }

    .label-class {
        position: relative;
        top: 200px;
        right: -50px;
        background-color: rgb(48, 48, 121);
        width: 400px;
        margin-top: -200px;
        border-radius: 5px;
        text-align: center;
        height: 70px;
        padding-top: 5px;
        color: white;
       
    }

    .input {
        height: 10px;
        width: 230px;
        border-radius: 5px;
        padding: 60px;
        margin-bottom: 10px;
        border-color: white;
    
    }
    
    .parent{
        position:absolute;
        right: 35px;
        top: 200px;
        background-color: white;
        width: 280px;
        padding: 60px;
        height: 320px;
        border-radius: 5px;
        margin-top: -1px;
        
       
     }

     button {
        height: 25px;
        width: 340px;
        border-radius: 5px;
        border-color: white;
        background-color: rgb(25, 194, 25);
        color: white;
        padding-bottom: -20px;
    
    }

}
